<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!-- <script type="text/javascript" src="com/js/angular.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="bower_components/jquery/dist/jquery.min.js">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="com/js/mainapp.js" ></script>
    <script type="text/javascript" src="com/js/maincontroller.js" ></script>
    <script type="text/javascript" src="templates/secondform/seconformcontroller.js" ></script>
    
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js" ></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js" ></script>
    
    
    <title>Angular kickstart</title>
</head>
<body>
    <div class="main-container" data-ng-app="mainApp" data-ng-init="allUsers = [{fName:'peter',lName:'robinson'},{fName:'mohammed',lName:'ali'},{fName:'imram',lName:'khan'}]">
        <div class="left-form">
            <div class="form-group">
                <label class="form-label" for="form1-index">First Name</label>
                <input class="form-input" id='form1-index' type="text" data-ng-model="fName">
            </div>
            <div class="form-group">
                <label class="form-label" for="form2-index">Last Name</label>
                <input class="form-input" id='form2-index' type="text" data-ng-model="lName">
            </div>
        </div>
        <div class="right-form"></div>
        <div class="clear-fix"></div>
        <div class="table-header" header-directive></div>
        
        <div class="table-container">
            <table class="table">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                </thead>
                <tbody>
                    <tr>
                        <td ng-bind="fName"></td>
                        <td ng-bind="lName"></td>
                    </tr>
                    <tr ng-repeat="i in allUsers">
                        <td>{{i.fName}}</td>
                        <td>{{i.lName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="address-div" ng-controller="myCtrl as customScope" >The user Name is {{customScope.firstNameVal+' '+customScope.lastNameVal}}</div>
        <a href="#secondform"> click to get second form</a>
        <a href="#thirdform"> click to get third form</a>
        <a ng-href="#other"> click to get other form</a>
        <ng-view></ng-view>
        <hr>
        <a ui-sref="state1">State 1 link</a>
        <a ui-sref="state2">State 2 link</a>
        
        <div ui-view></div>
        
    </div>
    
    
    
    
</body>
</html>