/*common start*/
.clear-fix{clear:both;}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.form-label {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}
.form-input {
  width: 100%;
}
.form-group {
  width: 30%;
}
.left-form {
  width: 50%;
  border: 1px solid #000;
  float: left;
}
.right-form {
  width: 50%;
  border: 1px solid #000;
  float: left;
}
/*common end*/
